body, html{	
	margin:0;
	padding:0;
	background-color: white;
}
body.m-content--skin-light2 {
	background-color: #ffffff;
}
.judul-header {
	background-color: #00599A;
	height: 70px;
	width: 100%;
}
.judul-header-sesudah {
	background-color: green;
	height: 70px;
	width: 100%;
}
.judul-header-tambah-ac {
	background-color: #212121;
	height: 70px;
	width: 100%;
}
.judul {
	color: white;
	position: absolute;
	top: 17px;
	left: 0;
	right: 0;
	font-size: 1.5rem;
}

.btn_tambah_foto {
	width: 50%;
	height: 40px;
	font-size: 1.2rem;
}
.body-apps {
	padding: 10px;
}
.gambar_ac {
	width: inherit;
	height: auto;
}
#btn_selanjutnya {
	width: 100%;
	height: 40px;
	font-size: 1.2rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.portlet-ac {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BDBDBD;
}
.isi-content {
	margin-bottom: 40px;
}
.btn-hapus {
	position: absolute;
	bottom: 0px;
}
.info-header{
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}
#tempat_foto{
	max-width: 100%;
	max-height: 300px; 
}
.uploaded {
	margin-top: 30px;
	margin-bottom: 30px;
}
.form-control[readonly], .form-control {
	font-size: 1.3rem;
}


label{
	font-size: 1.2rem;
}

h6{
	font-size: 1rem;
}
i {
	margin-right: 3px;
}